### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

total = purchase_data["SN"].value_counts()
total.sum()

In [37]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [38]:
purchase_data = purchase_data.dropna(how='any')

In [39]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [40]:
player_count = purchase_data.loc[:, ["Gender", "SN", "Age"]]

In [41]:
player_count.shape

(780, 3)

In [42]:
player_count = player_count.drop_duplicates()
player_count.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [43]:
player_total = player_count.count()[0]
player_total

576

In [44]:
player_count_dict = {"Total Players": [player_total]}
player_count_dict

pd.DataFrame(player_count_dict)

   Total Players
0            576

In [45]:
number_unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Purchase ID"].count()

total_revenue = purchase_data["Price"].sum()

In [46]:
summary_table = pd.DataFrame({"Number of Unique Items": number_unique_items,
                                "Average Price": [average_price],
                                "Number of Purchases": [number_of_purchases],
                                "Total Revenue": [total_revenue]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [47]:
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183         $3.05                  780        2379.77

In [48]:
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [105]:
#player_count = purchase_data.loc[:, ["Gender", "SN", "Age"]]

#gender_groups = purchase_data.groupby(["Gender"])
#gender_groups.count().head()

In [106]:
# Calculate the Number and Percentage by Gender
gender_totals = player_count.groupby("Gender").size()
gender_percentage = player_count["Gender"].value_counts(normalize=True) *100
gender_df = pd.DataFrame({"Gender Total": gender_totals, "Gender Percentage": gender_percentage})

gender_df = gender_df.round(2)
gender_df

                       Gender Total  Gender Percentage
Female                           81              14.06
Male                            484              84.03
Other / Non-Disclosed            11               1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
#gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Purchase Total")
#gender_purchase_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Purchase Average")
#gender_purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

gender_purchase_total = purchase_data.groupby(["Price"]).sum()
gender_purchase_average = purchase_data.groupby(["Price"]).mean()
gender_purchase_count = purchase_data.groupby(["SN"]).count()

purchase_per_person = gender_purchase_total / gender_df

In [151]:
#gender_df2 = pd.DataFrame([{"Purchase Total": gender_purchase_total}, 
#                        {"Purchase Average": gender_purchase_average}, 
#                        {"Purchase Count": gender_purchase_count}, 
#                        {"Purchase Per Person": purchase_per_person}])
#gender_df2

,Purchase Average,Purchase Count,Purchase Per Person,Purchase Total
0,NaN,NaN,NaN,Purchase ID Age Item ID Price ...
1,Purchase ID Age Item ID Pric...,NaN,NaN,NaN
2,NaN,Purchase ID Age Gender Ite...,NaN,NaN
3,NaN,NaN,Age Gender Percentage ...,NaN

In [ ]:
## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame