### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

total = purchase_data["SN"].value_counts()
total.sum()

In [3]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
purchase_data = purchase_data.dropna(how='any')

In [5]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [22]:
player_count = purchase_data["SN"].value_counts()
player_count

Lisosia93          5
Iral74             4
Idastidru52        4
Umolrian85         3
Haillyrgue51       3
Chadolyla44        3
Lassilsala30       3
Iskadarya95        3
Lisopela58         3
Chamimla85         3
Idai61             3
Raesty92           3
Iri67              3
Zontibe81          3
Siallylis44        3
Yathecal82         3
Strithenu87        3
Aina42             3
Lisim78            3
Phyali88           3
Hiaral50           3
Tyisur83           3
Ilarin91           3
Phaena87           3
Sondastsda82       3
Rarallo90          3
Saedaiphos46       3
Asur53             3
Ialallo29          3
Chamjask73         3
                  ..
Yadanu52           1
Heunadil74         1
Frichaststa61      1
Chamossa77         1
Thrientossa55      1
Isurria36          1
Meosridil82        1
Chanilsasda38      1
Chamadarnya73      1
Aeral97            1
Aerithriaphos46    1
Alo38              1
Aeri84             1
Eoral49            1
Iana95             1
Assirra56          1
Tyaelo67           1
Eustyria89         1
Chanastsda67       1
Lisadar44          1
Ethriel85          1
Jiskjask80         1
Chamjaskya75       1
Qilunan34          1
Yalostiphos68      1
Adairialis76       1
Yadaisuir65        1
Chanista95         1
Sondim73           1
Dyally87           1
Name: SN, Length: 576, dtype: int64

In [13]:
number_unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Purchase ID"].sum()

total_revenue = purchase_data["Price"].sum()

In [20]:
summary_table = pd.DataFrame({"Number of Unique Items": number_unique_items,
                                "Average Price": [average_price],
                                "Number of Purchases": [number_of_purchases],
                                "Total Revenue": [total_revenue]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987               303810        2379.77

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
gender_groups = purchase_data.groupby(["Gender"])
gender_groups.count().head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [48]:
gender_df = purchase_data.groupby(["Gender"]) 
gender_df

In [58]:
total_count = purchase_data["SN"].value_counts()
purchase_data["Total Count"] = total_count.sum()
percentage_of_players = purchase_data["Gender"].value_counts().mean()
purchase_data["Percentage of Players"] = percentage_of_players

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count,Percentage of Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,260.0
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,780,260.0
2,2,Ithergue48,24,Male,92,Final Critic,4.88,780,260.0
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,780,260.0
4,4,Iskosia90,23,Male,131,Fury,1.44,780,260.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame